<div class="container" >
    <div class="row">
        <div>
            <h1 style="color: white; text-align: center;font-size: 50px;"><b>{{viewFilm.Title}}</b></h1>
        </div>
        <div class="col-lg-6 p-5 ">
            <img class="img-fluid max-width-100%" [src]="viewFilm.Images" alt=""  style="margin-top: 65px; height: 350px;">

        </div>
        
        <div class="col-lg-6 p-5 mb-5 ">
                

                <div class="bg-secondary mt-5  ">
                  <ul class="list-group mt-2 shadow  bg-secondary ">
                      <li class="list-group-item py-3 text-success">
                                  <span class="text-light fw-bold m-3"><span style="color: grey;"><span style="color: red;">Releaded Data :</span> {{viewFilm.Released}}&nbsp;&nbsp;</span> <span class="text-secondary"></span></span>
                      </li>
                      <li class="list-group-item py-3 text-success">
                        <span  class="text-light fw-bold m-3"><span style="color: grey;"><span style="color: red;">Language :</span> {{viewFilm.Language}}</span>&nbsp;&nbsp;<span class="text-secondary"></span></span>
            </li>
                      <li class="list-group-item py-4 text-success">
                          <span class="text-light fw-bold m-3"><span style="color: grey;"  ><span style="color: red;">Director :</span> {{viewFilm.Director}}</span>&nbsp;&nbsp;<span class="text-secondary"></span></span>
              </li>
              <li class="list-group-item py-4 text-success">
                  <span class="text-light fw-bold m-3"><span style="color: grey;"><span style="color: red;">Writer :</span> {{viewFilm.Writer}}</span>&nbsp;&nbsp;<span class="text-secondary"></span></span>
               </li>
               <li class="list-group-item py-4 text-success">
                <span class="text-light fw-bold m-3"><span style="color: grey;"  ><span style="color: red;">Actors :</span> {{viewFilm.Actors}}</span>&nbsp;&nbsp;<span class="text-secondary"></span></span>
    </li>
    <li class="list-group-item py-4 text-success">
        <span class="text-light fw-bold m-3"><span style="color: grey;"  ><span style="color: red;">Country :</span> {{viewFilm.Country}}</span>&nbsp;&nbsp;<span class="text-secondary"></span></span>
</li>
               
              
              
              
  
                  </ul>
                </div>
                
        </div>

    </div>

</div>


  
 